<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GEXVOC.Core.Properties.Settings.gexvocConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=gexvoc;Persist Security Info=True;User ID=sa;Password=."
            providerName="System.Data.SqlClient" />
        <add name="GEXVOC.Core.Properties.Settings.gexvocConnectionString1"
            connectionString="Data Source=192.168.20.207;Initial Catalog=gexvoc;Persist Security Info=True;User ID=sa;Password=."
            providerName="System.Data.SqlClient" />
        <add name="GEXVOC.Core.Properties.Settings.gexvocConnectionString2"
            connectionString="Data Source=192.168.20.207;Initial Catalog=gexvoc;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>